.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-nav);
    border-bottom: var(--border);
    z-index: var(--z-fixed);
}

.navbar {
    height: var(--header-height);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--p-1);
}

@media (max-width: 768px) {
    .navbar__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        border-bottom: var(--border);
        border-radius: 0 0 12px 12px;
        background-color: var(--bg-nav);
        padding: 4.5rem 1rem 2rem;
        transition: .5s;
    }
}

.btn__close {
    position: absolute;
    top: var(--mr-2);
    right: var(--mr-2);
    background-color: var(--bg-nav);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .3s;
}

.btn__open,
.btn__close {
    font-size: 2.2rem;
    color: var(--text-nav);
}

.btn__close:hover {
    background-color: var(--bg-nav);
}

.navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__item {
    margin-bottom: var(--mr-2);
}

.navbar__link {
    color: var(--text-nav);
    font-size: 1.2rem;
    font-weight: var(--font-semi-bold);
}

.show-menu {
    top: 0;
}

.name {
    color: var(--text-nav);
    margin-left: 5px;
    font-size: var(--title-font-size);
}

li a:hover {
    background: initial;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 3px solid green;
    transition: .5s;
}


@media screen and (min-width: 768px) {
    .section {
        padding: 6rem 0 5rem;
    }

    .btn__open,
    .btn__close {
        display: none;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar__list {
        flex-direction: row;
        gap: 2rem;
    }

    .navbar__item {
        margin: 0;
    }

    .name{
        padding-bottom: 7px;
        color: black;
    }

    li a:hover {
        background: initial;
        color: black;
        border-bottom: 3px solid green;
        transition: .5s;
    }

}
